@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #191825;
  background: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #eee;
}

/*GENERAL*/

h2 {
  color: #FF0004;
}

.bold-text {
  font-weight: bold;
  font-size: 150%;
}

.hidden { 
  display: none; 
}

/* MENU */
  
.logo img {
  width: 120px;
  height: auto;
}
  
.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
  
.lista {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.lista li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;

}

.botones-menu button {
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* 1ERA PÁGINA */
  
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
  background-color: #f7faff;
}
  
.hero-content {
  max-width: 70%;
}
  
.hero-content h1 {
  font-size: 130%;
  color: #FF0004;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 30px; 
  display: inline-block; 
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  font-weight: bold;

}
  
.hero-content .countdown {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.hero-content .countdown span {
  color: #2aa1d1; 
}
  
.hero-content .description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
  
.hero-content .cta {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  margin-left: 29px;
}

/* TIENDA */

.titulo {
  text-align: center;
  font-size: 2.5em;
  color: red;
  margin-bottom: 20px;
}

.section-tienda p{
  text-align: center;
}

.productos-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.productos {
  display: flex;
  gap: 15px;
  max-width: 90%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.producto {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.producto p {
  font-size: 1em;
  margin: 5px 0;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.producto span {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.2em;
}

.add-to-cart {
  padding: 5px 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background: darkgreen;
}

/* Botones del carrusel */
.btn-carousel {
  background-color: white;
  border: none;
  font-size: 1.5em;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-carousel:hover {
  background-color: lightgray;
}

.prev {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}

/* Carrito */

.titulo-carrito {
  text-align: center;
  font-size: 1.5em;
  color: rgb(255, 0, 0);
  margin-bottom: 15px;
}

.section.carrito {
  margin-top: 30px;
}

.section.carrito p {
  text-align: center;
}

.items-carrito {
  margin: 10px 0;
}

.items-carrito .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.items-carrito .item button {
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.items-carrito .item button:hover {
  background: darkred;
}

.total {
  margin-top: 20px;
  text-align: right;
}

.total p {
  font-size: 1.2em;
  font-weight: bold;
}

#finalizar-compra {
  padding: 10px 15px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#finalizar-compra:hover {
  background: darkblue;
}

/* Historial */

.titulo-historial {
  text-align: center;
  font-size: 1.3em;
  color: blue;
  margin-bottom: 30px;
  
}

.section-tienda.historial {
  margin-top: 30px;
}

.items-historial {
  margin: 10px 0;
}

.items-historial .item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f4f4f4;
}

.items-historial .item p {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.items-historial .item ul {
  list-style: none;
  padding: 0;
}

.items-historial .item ul li {
  margin: 5px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-pago {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pago:hover {
  background: darkblue;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}


/*Musica*/
.Seccion-Musica {
  text-align: center;
  font-size: 45px;
  color: #11661A;
  background-image: url("/images/fondo-musica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Seccion-Musica p {
  font-size: 20px;
  margin: 0;
}

#fila1-musica, #fila2-musica {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.video {
  display: flex;
  padding: 2%;
}


/*Cuentos*/
.desktop-desktop {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.desktop-desktop p {
  color: #000;
  font-size: 20px;
  text-align: center;
}

.Seccion-Cuentos {
  color: #c3230f;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.storyframe {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 900px;
  padding: 40px;
  border-radius: 30px;
  background-color: #C25F50;
  filter: drop-shadow(0px 4px 43px rgba(0, 0, 0, 0.25));
  font-size: 20px;
  color: white;
  text-align: justify;
}

.storytitle {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; 
}

.story-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.arrow-left, .arrow-right {
  background-color: #c3230f; 
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .storyframe {
    width: 90%; 
    padding: 20px;
  }

  .arrow-left, .arrow-right {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

  
footer {
  text-align: center;
  padding: 16px;
  background: #191825;
  color: #fff;
}
  
/*Biblioteca cartas*/
.biblioteca-de-cartas {
  padding: 5%;
}

.carousel-container {
  display: flex;
  flex-flow: row;
  
}

.carousel-images {
  width: 40%;
}

.carousel-images img {
  max-width: 80%; 
  max-height: 80%;
  border-radius: 10px;
  padding: 10%;
  padding-top: 30%;
}

.carousel-buttons {
  width: 20%;
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.carousel-buttons button {
  margin: 5%;
  width: 30%;
  height: 10%;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

.carousel-buttons button:hover {
  background-color: #0ca2dd;
}

.biblioteca-textos {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5%;
  justify-items: center;
  align-items: center;
}

.biblioteca-texto {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid #666;
  padding: 3%;
  align-self: center;
  margin: 5%;
  justify-self: center;
}

.biblioteca-texto:hover {
  background-color: #FF0004;  
  transform: scale(1.05); 
  color: white;  
}

.icon {
  width:30%;
  align-self: center;
  padding-right: 5%;
}

/*Cartas*/
.cartas-container {
  padding: 5%;
}

#cartas {
  display: flex;
  flex-direction: column;
}
.cartas-content{
  display: flex;
  width: 100%;
}

.texto-cartas {
  padding: 5%;
  align-self: center;
  width: 30%;
}

.cartas-img {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-items: right;
}

#cartas-image {
  width: 70%;
  padding-left: 25%;
}

.cta {
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FF0004; 
  border-radius: 10px;     
  width: 70%;               
  padding: 3%;             
  color: white;              
  font-size: 16px;           
  text-align: center;         
  text-decoration: none;    
  display: inline-block;     
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta:hover {
  background-color: #d9534f;  
  transform: scale(1.05);    
}

.section.cartas { 
  padding: 20px; 
} 

.cartas-container { 
  display: flex; 
  flex-direction: row; 
} 
.cartas-content { 
  display: flex; 
  flex-direction: row; 
} 
.cartas-img img { 
  max-width: 100%; 
  border-radius: 5px; 
} 
.texto-cartas { 
  margin-left: 20px; 
} 

/* FORMULARIO */

.form-section {
  padding: 5%;
  border: 2px solid black;
}

.form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#form-content {
  border: 2px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-name{
  border: 2px solid black;
  width: 100%;
}

#div-pais{
  border: 2px solid black;
  width: 100%;
}

#div-text{
  border: 2px solid black;
  width: 100%;
}

#div-buttons{
  border: 2px solid black;
  width: 100%;
}

/*JUEGOS*/
.games-content {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.juegos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-box {
  border-radius: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  margin: 1%;

}

#game-box1 {
  background-color: #9acbdf;
}

#game-box2 {
  background-color: #df9ac5;
}

#game-title1{
  color: #145068;
}

#game-title2{
  color: #7a2f5d;
}

#busca-regalos {
  background-color: #eed0e2;
  border-radius: 5px;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.btn-tree { 
  border: none; 
  background-color: transparent; 
  cursor: pointer; 
  outline: none; 
  width: 33%;
} 

.btn-tree img { 
  width: 110%;
  height: auto; transition: transform 0.2s;
} 

.btn-tree:hover img { 
  transform: scale(1.1); 
}

#result { 
  display: none;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 1.5rem; color: black; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#gameArea { 
  position: relative; 
  width: 80vw;
  height: 80vw; 
  max-width: 500px; 
  max-height: 500px; 
  margin: 0 auto; 
  background-color: #bedde9;
  border-radius: 5px;
} 

#snowflake { 
  position: absolute; 
  width: 15%; 
  cursor: pointer; 
} 

#startButton { 
  display: block; 
  margin: 20px auto; 
  padding: 10px 20px; 
  border: none; 
  background-color: #ff5733; 
  color: white; 
  cursor: pointer; 
  border-radius: 5px;
} 
  
#startButton:hover { 
  background-color: #c70039; 
} 

#score { 
  font-size: 1.5rem; 
  margin-bottom: 20px; 
}

/* VIDEOLLAMADA */

.section.videollamada {
  text-align: center;
  background-color: #ffecec;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-videollamada {
  font-size: 2em;
  color: red;
  margin-bottom: 20px;
}

.videollamada-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 80%;
}

.btn-llamar {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.btn-llamar:hover {
  background-color: darkgreen;
}


/* REGISTRO*/

.popup-registro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  z-index: 10000;
  position: relative;
  overflow-y: auto;
  max-height: 80%;

}

.popup-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
}

.popup-content form {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.popup-content label {
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-content input[type="text"],
.popup-content input[type="password"],
.popup-content input[type="email"],
.popup-content input[type="number"],
.popup-content select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.popup-content .botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #d9ebf1;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

/*Historia*/

#papanoel .intro {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  margin: 20px auto;
  max-width: 80%;
  border-radius: 10px;
  font-size: 0.8rem;
}

#papanoel h2 {
  text-align: center;
  font-size: 2.3rem;
  color: #000;
}

#papanoel h3 {
  font-size: 1.2rem;
}

#papanoel .gif{
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

#papanoel .contenedor-historia {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
 
}

#papanoel .contenedor-historia img {
  width: 50%; 
  border-radius: 10px;
}

#papanoel .contenedor-historia p {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#papanoel .texto-historia {
  font-size: 0.7rem;
}

.historia {
  padding: 5%;
}
/* Sección Envía tu Carta */
#envia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #f4f6f5 url('/images/fondo3.jpg') center/cover no-repeat;
}

#envia h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 2.5rem;
}

#envia h3 {
  margin-top: 4px;
  font-size: 1rem;
}

#envia .formulario {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  font-size: 0.8rem;
  box-sizing: border-box;
  

}

#envia input[type="text"],
#envia input[type="number"],
#envia textarea,
#envia input[type="email"],
#envia input[type="file"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}

#contador {
  font-weight: bold;
  color: #0c97c6;
}
