@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #191825;
  background: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #eee;
}

/* MENU */
  
.logo img {
  width: 120px;
  height: auto;
}
  
.menu {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
  
.lista {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.lista li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;

}

.botones-menu button {
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* 1ERA PÁGINA */
  
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10%;
  background-color: #f7faff;
}
  
.hero-content {
  max-width: 70%;
}
  
.hero-content h1 {
  font-size: 130%;
  color: #FF0004;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 30px; 
  display: inline-block; 
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  font-weight: bold;

}
  
.hero-content .countdown {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.hero-content .countdown span {
  color: #2aa1d1; /* Azul específico para números */
}
  
.hero-content .description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
  
.hero-content .cta {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  margin-left: 29px;
}

/*Musica*/
.Seccion-Musica {
  text-align: center;
  font-size: 45px;
  color: #c3230f;
  background-image: url("../images/snowflake.png");

}
.Seccion-Musica p {
  font-size: 18px;
  margin: 0;
  color: white;
}

#fila1-musica, #fila2-musica {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.video {
  display: flex;
  padding: 2%;
}


/*Cuentos*/
.storyframe {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.storytitle {
  color: white;
}

.Seccion-Cuentos {
  color: #c3230f;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.desktop-desktop {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.storyframe {
  border-radius: 30px;
  row-gap: 30px;
  width: 900px;
  padding: 40px;
  filter: drop-shadow(0px 4px 43px rgba(0, 0, 0, 0.25));
  font-size: 20px;
  background-color: #C25F50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

  
footer {
  text-align: center;
  padding: 16px;
  background: #191825;
  color: #fff;
}
  